/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Condensed:wght@700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Condensed:wght@700&family=Source+Code+Pro:ital,wght@0,200;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: block; */
  font-size: 16px;
}

body {
  margin: 50px;
  background-color: #f2f2f2;
  color: #252525;
  font-family: "Poppins", Helvetica, sans-serif;
  transition: 0.5s ease-in-out;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color: #0066ff;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#hero-section {
  display: flex;
  justify-content: space-around;
}

#hero-image {
  width: 30%;
}

.image-projects {
  display: none;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}

#hero-section span {
    font-family: 'source code pro';
}

#logo-container {
  width: 200px;
}
 .network{
    display: flex;
    gap: 3rem;
    padding: 5px 0 5px 0;
 }

.profile-data {
    display: flex;
    gap: 3em;
    align-items: center;
}

#curriculum{
    background-color: #ff2a00;
    width: 150px;
    height: 30px;
    border: solid #ff2a00 1px;
    border-radius: 5px;
    color: #f2f2f2;
}



.projects {
  display: flex;
  gap: 1rem;
  border: 1px solid #434343;
  padding: 10px;
  margin-bottom: 5px;
  max-width: 1440px;
}

.projects h3 {
    font-weight: 500;
    color: #0066ff;
}

/* ----------------------- INFINITE SCROLL ------------------------- */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.infinity-scroll {
  overflow: hidden;
  padding: 20px 0;
  background-color:#f2f2f2;
  white-space: nowrap;
  position: relative;
}

.infinity-scroll:before, .infinity-scroll:after{
    position: absolute;
    top: 0;
    width: 180px;
    height: 100%;
    content: '';
    z-index: 2;
}
.infinity-scroll:before {
   left: 0;
   background: linear-gradient(to left, rgba(255, 255,255, 0), #f2f2f2);
}
.infinity-scroll:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255,255, 0), #f2f2f2);
}

.infinity-scroll:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  /* display: flex; */
  animation: 25s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logos-slide img:hover {
    filter: grayscale(0%);
    
}

/* ----------------------- DARK MODE ------------------------- */

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #434343;
  appearance: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
input[type="checkbox"]:checked {
  background-color: #0066ff;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.dark-mode {
  background-color: #252525;
  color: #f2f2f2;
}
.dark-mode a {
  color: #fa824c;
}

.dark-mode .projects h3 {
    font-weight: 500;
    color: #fa824c;
}
